In [2]:

import findspark
findspark.init()
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("example").getOrCreate()
import datetime
from pyspark.sql import Row

users = [

    {

        "id": 1,

        "first_name": "Corrie",

        "last_name": "Van den Oord",

        "email": "cvandenoord0@etsy.com",

        "gender": "male",

        "current_city": "Dallas",

        "phone_numbers": Row(mobile="+1 234 567 8901", home="+1 234 567 8911"),

        "courses": [1, 2],

        "is_customer": True,

        "amount_paid": 1000.55,

        "customer_from": datetime.date(2021, 1, 15),

        "last_updated_ts": datetime.datetime(2021, 2, 10, 1, 15, 0)

    },

    {

        "id": 2,

        "first_name": "Nikolaus",

        "last_name": "Brewitt",

        "email": "nbrewitt1@dailymail.co.uk",

        "gender": "male",

        "current_city": "Houston",

        "phone_numbers":  Row(mobile="+1 234 567 8923", home="1 234 567 8934"),

        "courses": [3],

        "is_customer": True,

        "amount_paid": 900.0,

        "customer_from": datetime.date(2021, 2, 14),

        "last_updated_ts": datetime.datetime(2021, 2, 18, 3, 33, 0)

    },

    {

        "id": 3,

        "first_name": "Orelie",

        "last_name": "Penney",

        "email": "openney2@vistaprint.com",

        "gender": "female",

        "current_city": "",

        "phone_numbers": Row(mobile="+1 714 512 9752", home="+1 714 512 6601"),

        "courses": [2, 4],

        "is_customer": True,

        "amount_paid": 850.55,

        "customer_from": datetime.date(2021, 1, 21),

        "last_updated_ts": datetime.datetime(2021, 3, 15, 15, 16, 55)

    },

    {

        "id": 4,

        "first_name": "Ashby",

        "last_name": "Maddocks",

        "email": "amaddocks3@home.pl",

        "gender": "male",

        "current_city": "San Fransisco",

        "phone_numbers": Row(mobile=None, home=None),

        "courses": [],

        "is_customer": False,

        "amount_paid": None,

        "customer_from": None,

        "last_updated_ts": datetime.datetime(2021, 4, 10, 17, 45, 30)

    },

    {

        "id": 5,

        "first_name": "Kurt",

        "last_name": "Rome",

        "email": "krome4@shutterfly.com",

        "gender": "female",

        "current_city": None,

        "phone_numbers": Row(mobile="+1 817 934 7142", home=None),

        "courses": [],

        "is_customer": False,

        "amount_paid": None,

        "customer_from": None,

        "last_updated_ts": datetime.datetime(2021, 4, 2, 0, 55, 18)

    }

]

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/25 03:53:24 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
df=spark.createDataFrame(users)

In [5]:
df.show()

+-----------+-------+-------------+-------------+--------------------+----------+------+---+-----------+------------+-------------------+--------------------+
|amount_paid|courses| current_city|customer_from|               email|first_name|gender| id|is_customer|   last_name|    last_updated_ts|       phone_numbers|
+-----------+-------+-------------+-------------+--------------------+----------+------+---+-----------+------------+-------------------+--------------------+
|    1000.55| [1, 2]|       Dallas|   2021-01-15|cvandenoord0@etsy...|    Corrie|  male|  1|       true|Van den Oord|2021-02-10 01:15:00|{+1 234 567 8901,...|
|      900.0|    [3]|      Houston|   2021-02-14|nbrewitt1@dailyma...|  Nikolaus|  male|  2|       true|     Brewitt|2021-02-18 03:33:00|{+1 234 567 8923,...|
|     850.55| [2, 4]|             |   2021-01-21|openney2@vistapri...|    Orelie|female|  3|       true|      Penney|2021-03-15 15:16:55|{+1 714 512 9752,...|
|       null|     []|San Fransisco|         null|  amaddocks3@home.pl|     Ashby|  male|  4|      false|    Maddocks|2021-04-10 17:45:30|        {null, null}|
|       null|     []|         null|         null|krome4@shutterfly...|      Kurt|female|  5|      false|        Rome|2021-04-02 00:55:18|{+1 817 934 7142,...|
+-----------+-------+-------------+-------------+--------------------+----------+------+---+-----------+------------+-------------------+--------------------+

In [7]:
df.select("id","current_city","customer_from").show()

+---+-------------+-------------+
| id| current_city|customer_from|
+---+-------------+-------------+
|  1|       Dallas|   2021-01-15|
|  2|      Houston|   2021-02-14|
|  3|             |   2021-01-21|
|  4|San Fransisco|         null|
|  5|         null|         null|
+---+-------------+-------------+

In [9]:
#get all users whose city is not null
from pyspark.sql.functions import*

In [13]:
df.select("id","current_city").filter(col("current_city").isNotNull()).show()#dataframe style

+---+-------------+
| id| current_city|
+---+-------------+
|  1|       Dallas|
|  2|      Houston|
|  3|             |
|  4|San Fransisco|
+---+-------------+

In [12]:
df\#sql style
.select("id","current_city")\
.where('current_city IS NOT NULL')\
.show()

+---+-------------+
| id| current_city|
+---+-------------+
|  1|       Dallas|
|  2|      Houston|
|  3|             |
|  4|San Fransisco|
+---+-------------+

In [16]:
df\
.select("id","customer_from")\
.where('customer_from IS NULL')\
.show()

+---+-------------+
| id|customer_from|
+---+-------------+
|  4|         null|
|  5|         null|
+---+-------------+

In [22]:
df.select("id","current_city","customer_from").orderBy("current_city").show()

+---+-------------+-------------+
| id| current_city|customer_from|
+---+-------------+-------------+
|  5|         null|         null|
|  3|             |   2021-01-21|
|  1|       Dallas|   2021-01-15|
|  2|      Houston|   2021-02-14|
|  4|San Fransisco|         null|
+---+-------------+-------------+

In [23]:
#sort the data in asc order by customer _from with null values should come at end
df.select("id","current_city","customer_from").orderBy("customer_from",ascending=False).show()

+---+-------------+-------------+
| id| current_city|customer_from|
+---+-------------+-------------+
|  2|      Houston|   2021-02-14|
|  3|             |   2021-01-21|
|  1|       Dallas|   2021-01-15|
|  4|San Fransisco|         null|
|  5|         null|         null|
+---+-------------+-------------+

In [26]:
df.select("id","current_city","customer_from").orderBy(df["customer_from"].asc_nulls_last()).show()

+---+-------------+-------------+
| id| current_city|customer_from|
+---+-------------+-------------+
|  1|       Dallas|   2021-01-15|
|  3|             |   2021-01-21|
|  2|      Houston|   2021-02-14|
|  4|San Fransisco|         null|
|  5|         null|         null|
+---+-------------+-------------+

In [27]:

#2nd dataset
zipdf=spark.read.option("header",True).option("inferschema",True).csv("/home/labuser/Downloads/zipcode.csv")

In [28]:
zipdf.show()

+---+-------+--------+-------------------+-----+----------+
| id|zipcode|    type|               city|state|population|
+---+-------+--------+-------------------+-----+----------+
|  1|    704|STANDARD|               null|   PR|     30100|
|  2|    704|    null|PASEO COSTA DEL SUR|   PR|      null|
|  3|    709|    null|       BDA SAN LUIS|   PR|      3700|
|  4|  76166|  UNIQUE|  CINGULAR WIRELESS|   TX|     84000|
|  5|  76177|STANDARD|               null|   TX|      null|
|  1|    704|STANDARD|               null|   PR|     30100|
|  1|    704|STANDARD|               null|   PR|     30100|
+---+-------+--------+-------------------+-----+----------+

In [29]:
#remove duplicates dataframe function
df2=zipdf.dropDuplicates()

In [37]:
df2.show()

+---+-------+--------+-------------------+-----+----------+
| id|zipcode|    type|               city|state|population|
+---+-------+--------+-------------------+-----+----------+
|  2|    704|    null|PASEO COSTA DEL SUR|   PR|      null|
|  5|  76177|STANDARD|               null|   TX|      null|
|  3|    709|    null|       BDA SAN LUIS|   PR|      3700|
|  1|    704|STANDARD|               null|   PR|     30100|
|  4|  76166|  UNIQUE|  CINGULAR WIRELESS|   TX|     84000|
+---+-------+--------+-------------------+-----+----------+

In [38]:
zipdf1=zipdf.dropDuplicates(["zipcode"]).show()

+---+-------+--------+-----------------+-----+----------+
| id|zipcode|    type|             city|state|population|
+---+-------+--------+-----------------+-----+----------+
|  1|    704|STANDARD|             null|   PR|     30100|
|  3|    709|    null|     BDA SAN LUIS|   PR|      3700|
|  4|  76166|  UNIQUE|CINGULAR WIRELESS|   TX|     84000|
|  5|  76177|STANDARD|             null|   TX|      null|
+---+-------+--------+-----------------+-----+----------+

In [41]:
df2.show()

+---+-------+--------+-------------------+-----+----------+
| id|zipcode|    type|               city|state|population|
+---+-------+--------+-------------------+-----+----------+
|  2|    704|    null|PASEO COSTA DEL SUR|   PR|      null|
|  5|  76177|STANDARD|               null|   TX|      null|
|  3|    709|    null|       BDA SAN LUIS|   PR|      3700|
|  1|    704|STANDARD|               null|   PR|     30100|
|  4|  76166|  UNIQUE|  CINGULAR WIRELESS|   TX|     84000|
+---+-------+--------+-------------------+-----+----------+

In [43]:
df2.dropna().show()

+---+-------+------+-----------------+-----+----------+
| id|zipcode|  type|             city|state|population|
+---+-------+------+-----------------+-----+----------+
|  4|  76166|UNIQUE|CINGULAR WIRELESS|   TX|     84000|
+---+-------+------+-----------------+-----+----------+

In [44]:
df2.dropna("all").show()#delete rows which have all null values

+---+-------+--------+-------------------+-----+----------+
| id|zipcode|    type|               city|state|population|
+---+-------+--------+-------------------+-----+----------+
|  2|    704|    null|PASEO COSTA DEL SUR|   PR|      null|
|  5|  76177|STANDARD|               null|   TX|      null|
|  3|    709|    null|       BDA SAN LUIS|   PR|      3700|
|  1|    704|STANDARD|               null|   PR|     30100|
|  4|  76166|  UNIQUE|  CINGULAR WIRELESS|   TX|     84000|
+---+-------+--------+-------------------+-----+----------+

In [48]:
df2.dropna("all",subset="type").show()#means it will remove nulls in type column this is a subset parameter

+---+-------+--------+-----------------+-----+----------+
| id|zipcode|    type|             city|state|population|
+---+-------+--------+-----------------+-----+----------+
|  5|  76177|STANDARD|             null|   TX|      null|
|  1|    704|STANDARD|             null|   PR|     30100|
|  4|  76166|  UNIQUE|CINGULAR WIRELESS|   TX|     84000|
+---+-------+--------+-----------------+-----+----------+

In [49]:
df2.dropna("all",subset="population").show()

+---+-------+--------+-----------------+-----+----------+
| id|zipcode|    type|             city|state|population|
+---+-------+--------+-----------------+-----+----------+
|  3|    709|    null|     BDA SAN LUIS|   PR|      3700|
|  1|    704|STANDARD|             null|   PR|     30100|
|  4|  76166|  UNIQUE|CINGULAR WIRELESS|   TX|     84000|
+---+-------+--------+-----------------+-----+----------+

In [50]:
df2.na.drop(thresh=5).show()

+---+-------+--------+-----------------+-----+----------+
| id|zipcode|    type|             city|state|population|
+---+-------+--------+-----------------+-----+----------+
|  3|    709|    null|     BDA SAN LUIS|   PR|      3700|
|  1|    704|STANDARD|             null|   PR|     30100|
|  4|  76166|  UNIQUE|CINGULAR WIRELESS|   TX|     84000|
+---+-------+--------+-----------------+-----+----------+

In [51]:
df2.fillna(value=1).show()

+---+-------+--------+-------------------+-----+----------+
| id|zipcode|    type|               city|state|population|
+---+-------+--------+-------------------+-----+----------+
|  2|    704|    null|PASEO COSTA DEL SUR|   PR|         1|
|  5|  76177|STANDARD|               null|   TX|         1|
|  3|    709|    null|       BDA SAN LUIS|   PR|      3700|
|  1|    704|STANDARD|               null|   PR|     30100|
|  4|  76166|  UNIQUE|  CINGULAR WIRELESS|   TX|     84000|
+---+-------+--------+-------------------+-----+----------+

In [54]:
df2.fillna(value="STANDARD",subset=["type"]).show()#filling null values

+---+-------+--------+-------------------+-----+----------+
| id|zipcode|    type|               city|state|population|
+---+-------+--------+-------------------+-----+----------+
|  2|    704|STANDARD|PASEO COSTA DEL SUR|   PR|      null|
|  5|  76177|STANDARD|               null|   TX|      null|
|  3|    709|STANDARD|       BDA SAN LUIS|   PR|      3700|
|  1|    704|STANDARD|               null|   PR|     30100|
|  4|  76166|  UNIQUE|  CINGULAR WIRELESS|   TX|     84000|
+---+-------+--------+-------------------+-----+----------+

In [55]:
df2.fillna({"type":"VIP","City":"Mumbai","population":300000}).show()

+---+-------+--------+-------------------+-----+----------+
| id|zipcode|    type|               city|state|population|
+---+-------+--------+-------------------+-----+----------+
|  2|    704|     VIP|PASEO COSTA DEL SUR|   PR|    300000|
|  5|  76177|STANDARD|             Mumbai|   TX|    300000|
|  3|    709|     VIP|       BDA SAN LUIS|   PR|      3700|
|  1|    704|STANDARD|             Mumbai|   PR|     30100|
|  4|  76166|  UNIQUE|  CINGULAR WIRELESS|   TX|     84000|
+---+-------+--------+-------------------+-----+----------+

In [ ]:
#replace removes empty values not null