In [2]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("example").getOrCreate()
names_df=spark.read.option("header",True).option("inferschema",True).csv("/home/labuser/Downloads/Baby_Names.csv")

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/25 05:48:10 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/09/25 05:48:12 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
names_df.show()

+----+----------+-----------+---+-----+
|Year|First Name|     County|Sex|Count|
+----+----------+-----------+---+-----+
|2007|      ZOEY|      KINGS|  F|   11|
|2007|      ZOEY|    SUFFOLK|  F|    6|
|2007|      ZOEY|     MONROE|  F|    6|
|2007|      ZOEY|       ERIE|  F|    9|
|2007|       ZOE|     ULSTER|  F|    5|
|2007|       ZOE|WESTCHESTER|  F|   24|
|2007|       ZOE|      BRONX|  F|   13|
|2007|       ZOE|   NEW YORK|  F|   55|
|2007|       ZOE|     NASSAU|  F|   15|
|2007|       ZOE|       ERIE|  F|    6|
|2007|       ZOE|    SUFFOLK|  F|   14|
|2007|       ZOE|      KINGS|  F|   34|
|2007|       ZOE|     MONROE|  F|    9|
|2007|       ZOE|     QUEENS|  F|   26|
|2007|       ZOE|     ALBANY|  F|    5|
|2007|     ZISSY|   ROCKLAND|  F|    5|
|2007|     ZISSY|      KINGS|  F|   27|
|2007|      ZION|      KINGS|  M|   15|
|2007|      ZION|      BRONX|  M|   14|
|2007|       ZEV|   ROCKLAND|  M|    6|
+----+----------+-----------+---+-----+
only showing top 20 rows

In [5]:
names_df.count()

52252

In [4]:
names_df.groupby("year").count().show()

+----+-----+
|year|count|
+----+-----+
|2007| 6367|
|2013| 6158|
|2014| 8362|
|2012| 6164|
|2009| 6312|
|2010| 6192|
|2011| 6216|
|2008| 6481|
+----+-----+

In [8]:
names_df.groupby("year").count().sort(names_df[("year")].desc()).show()

+----+-----+
|year|count|
+----+-----+
|2014| 8362|
|2013| 6158|
|2012| 6164|
|2011| 6216|
|2010| 6192|
|2009| 6312|
|2008| 6481|
|2007| 6367|
+----+-----+

In [16]:
names_df.write.mode("overwrite").parquet("/home/labuser/Downloads/babynamesparquet")

In [17]:
#partionby makes 8 different folders
names_df.write.mode("overwrite").partitionBy("year").option("path","/home/labuser/Downloads/partitionbyyeart").saveAsTable("babynames_year")

In [18]:
spark.sql("select * from babynames_year where year=2007").show()

+----------+-----------+---+-----+----+
|First Name|     County|Sex|Count|Year|
+----------+-----------+---+-----+----+
|      ZOEY|      KINGS|  F|   11|2007|
|      ZOEY|    SUFFOLK|  F|    6|2007|
|      ZOEY|     MONROE|  F|    6|2007|
|      ZOEY|       ERIE|  F|    9|2007|
|       ZOE|     ULSTER|  F|    5|2007|
|       ZOE|WESTCHESTER|  F|   24|2007|
|       ZOE|      BRONX|  F|   13|2007|
|       ZOE|   NEW YORK|  F|   55|2007|
|       ZOE|     NASSAU|  F|   15|2007|
|       ZOE|       ERIE|  F|    6|2007|
|       ZOE|    SUFFOLK|  F|   14|2007|
|       ZOE|      KINGS|  F|   34|2007|
|       ZOE|     MONROE|  F|    9|2007|
|       ZOE|     QUEENS|  F|   26|2007|
|       ZOE|     ALBANY|  F|    5|2007|
|     ZISSY|   ROCKLAND|  F|    5|2007|
|     ZISSY|      KINGS|  F|   27|2007|
|      ZION|      KINGS|  M|   15|2007|
|      ZION|      BRONX|  M|   14|2007|
|       ZEV|   ROCKLAND|  M|    6|2007|
+----------+-----------+---+-----+----+
only showing top 20 rows

In [26]:
#partionby makes 8 different folders
names_df.write.mode("overwrite").partitionBy("year","sex").option("path","/home/labuser/Downloads/partitionbygendert").saveAsTable("babynames_gender")

In [27]:
spark.sql("select * from babynames_gender ").show()

+----------+------+-----+----+---+
|First Name|County|Count|Year|Sex|
+----------+------+-----+----+---+
|       AVA|Albany|   23|2014|  F|
|      EMMA|Albany|   20|2014|  F|
|    SOPHIA|Albany|   19|2014|  F|
|    OLIVIA|Albany|   19|2014|  F|
|       MIA|Albany|   15|2014|  F|
| CHARLOTTE|Albany|   15|2014|  F|
|    AMELIA|Albany|   14|2014|  F|
|  ISABELLA|Albany|   13|2014|  F|
|   ABIGAIL|Albany|   12|2014|  F|
|     CHLOE|Albany|   12|2014|  F|
|      ELLA|Albany|   12|2014|  F|
|      ANNA|Albany|   12|2014|  F|
|     EMILY|Albany|   11|2014|  F|
|     GRACE|Albany|   11|2014|  F|
|    EVELYN|Albany|   11|2014|  F|
|   NATALIE|Albany|   11|2014|  F|
|   MADISON|Albany|   10|2014|  F|
|  SCARLETT|Albany|   10|2014|  F|
|      LILY|Albany|    9|2014|  F|
| ELIZABETH|Albany|    8|2014|  F|
+----------+------+-----+----+---+
only showing top 20 rows

In [28]:
df_new=spark.read.table("babynames_year")

In [29]:
df_new

DataFrame[First Name: string, County: string, Sex: string, Count: int, Year: int]

In [32]:
#each parquet file creaTED WITH 4K RECORDS
names_df.write.mode("overwrite").option("maxRexcordsPerFile",4000).partitionBy("year","sex").option("path","/home/labuser/Downloads/partitionbygendert_4k").saveAsTable("babynames_gender_max4k")